@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500");
* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
.sidebar {
  position: fixed;
  left: 0; /* Modifier la valeur de "left" */
  width: 250px;
  height: 100%;
  background: #48aad7;
  transition: all 0.5s ease;
}
.sidebar header {
  font-size: 16px;
  color: white;
  line-height: 70px;
  text-align: center;
  background: #4db5e5;
  user-select: none;
}

.sidebar ul li.active a {
  background-color: #3f86a7;
  padding-left: 50px;
}

.sidebar ul a {
  display: block;
  height: 100%;
  width: 100%;
  line-height: 65px;
  font-size: 16px;
  color: white;
  padding-left: 40px;
  box-sizing: border-box;
  border-bottom: 1px solid #48aad7;
  border-top: 1px solid #48aad7;
  transition: 0.4s;
}
.sidebar ul li:hover a {
  padding-left: 50px;
  background-color: #3f86a7;
}
.sidebar ul a i {
  margin-right: 16px;
}
.sidebar header label {
  font-size: 16px;
  color: white;
  text-align: center;
  background: #4db5e5;
}

.sidebar ul a:focus {
  background-color: #3f86a7;
}
.sidebar ul a #logout {
  color: red;
}

.produit select {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  background-color: white;
  border: 1px solid #398bb1;
  border-radius: 3px;
  text-align: center;
  width: 200px;
  height: 40px;
}

.user header a {
  color: azure;
}

