.content {
    padding-top: 20px;
    padding-left: 280px;
  }

.ClosedTable th.numTicket,
.ClosedTable td.numTicket {
  width: 25px;
}
.ClosedTable th.num,
.ClosedTable td.num {
  width: 25px;
}

.ClosedTable th.numEvent,
.ClosedTable td.numEvent {
  width: 25px;
}

.ClosedTable th.date,
.ClosedTable td.date {
  width: 125px;
}

.ClosedTable th.type,
.ClosedTable td.type {
  width: 100px;
}

.ClosedTable th.urgence,
.ClosedTable td.urgence {
  width: 100px;
}

.ClosedTable th.demandeur,
.ClosedTable td.demandeur {
  width: 125px;
}

.ClosedTable th.title,
.ClosedTable td.title {
  width: 150px;
  max-width: 400px; 
  word-wrap: break-word; 
  white-space: normal; 
}
.ClosedTable th.comparaison,
.ClosedTable td.comparaison {
  width: 75px;
}
.ClosedTable th.message,
.ClosedTable td.message {
  width: 50px;
}
.ClosedTable th.details,
.ClosedTable td.details {
  width: 25px;
}
  
  h1 {
    margin-bottom: 20px;
    color: #48aad7;
  }
  
  .ClosedTable {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    text-align: center;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 1200px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  
  .ClosedTable thead tr {
    background-color: #48aad7;
    color: #ffffff;
    text-align: center;
  }
  
  .ClosedTable th,
  .ClosedTable td {
    padding: 12px 15px;
    border-right: 1px solid #dddddd;
  }
  
  .ClosedTable tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  
  .ClosedTable tbody tr:nth-of-type(even) {
    background-color: #faf9f9;
  }
  
  .ClosedTable tbody tr:last-of-type {
    border-bottom: 2px solid #48aad7;
  }
  
  