body {
  background: #48aad7;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}
.content {
  width: 400px;
  margin-top: 10%;
}
/* Bordered form */
form {
  width: 100%;
  padding: 30px;
  border: 1px solid #f1f1f1;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.content h1 {
  width: 38%;
  margin: 0 auto;
  padding-bottom: 10px;
}

/* Full-width inputs */
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
input[type="submit"] {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 550;
  background-color: #48aad7;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  width: 100%;
}
input[type="submit"]:hover {
  background-color: #349ccc;
  color: #ffffff;
}

.content a {
  font-size: small;
  color: rgb(106, 105, 105);
}
