.content {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    min-height: 100vh; /* Ensure the content takes up the full height of the viewport */
    font-family: Arial, Helvetica, sans-serif;
  }
  
  #details label {
    color: #48aad7;
    font-weight: bold;
    font-size: large;
  }
  
  .attachment label {
    color: #48aad7;
    font-weight: normal;
    font-size: large;
  }
  
  #ticket_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  .ticket {
    box-sizing: border-box;
    padding: 1rem;
    border-radius: 2px;
    background-color: hsl(0, 0%, 100%);
    border: 2px solid hsl(0, 9%, 93%);
    margin: 10px;
    width: 100%;
    max-width: 600px; /* Increased width */
  }
  
  .ticket div {
    margin-bottom: 10px; /* Add space between elements */
  }
  