body {
  font-family: Arial, Helvetica, sans-serif;
}

.content {
  padding-top: 20px;
  padding-left: 280px;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: #48aad7;
}

.usersTable {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  text-align: center;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 1200px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.usersTable thead tr {
  background-color: #48aad7;
  color: #ffffff;
  text-align: center;
}

.usersTable th,
.usersTable td {
  padding: 12px 15px;
  border-right: 1px solid #dddddd;
}

.usersTable tbody tr {
  border-bottom: 1px solid #dddddd;
}

.usersTable tbody tr:nth-of-type(even) {
  background-color: #faf9f9;
}

.usersTable tbody tr:last-of-type {
  border-bottom: 2px solid #48aad7;
}
